.header .logo-nav {
    background-color: #0F172A;
    height: 100px;

}

.header .logo-nav ul{
    display: flex;
    justify-content: space-evenly;

}

.header .logo-nav ul li{
    list-style: none;
    margin: auto;

}

.logo-nav h2{
    font-size: 32px;
    color: white;
}


.header .logo-nav ul li img{
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 20;
    display: none;
    

}

.header .logo-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;

}

.header .logo-nav ul li a:hover{
     color: blue;

}

.home{
    height: 650px;
    width: 100%;
    background: url(./background_img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-content .home-title{
    font-size: 55px;
    margin-bottom: 20px;
    color: white;
}

.home-content .home-desc{
    font-size: 35px;
    color: white;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media (max-width = 575px) {
    .home-content .home-title{
        font-size: 35px;
    }

    .home-content .home-desc{
        font-size: 20px;
    }
}

.btn {
    font-size: 30px;
    background: #7cb62f;
    border: 1px solid #7cb62f;
    border-radius: 5px;
    margin: 0 10px ;
    font-family: lucida sans;
    text-shadow:2px 1px 2px;
    box-shadow:2px -2px 3px 0px;
}


main{
    height: 500px;
}